<p>{{ errMessage }}</p>

<table border="1">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>#</th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let group of customerGroups">

      <tr>
        <td colspan="5">
          {{ group.CustomerTypeId }} - {{ group.CustomterTypeName }}
        </td>
      </tr>

      <tr *ngFor="let customer of group.Customers">
        <td>{{ customer.Id }}</td>
        <td>{{ customer.Name }}</td>
        <td>{{ customer.Email }}</td>
        <td>{{ customer.Age }}</td>

        <td>
          <img
            [src]="customer.Image"
            [alt]="customer.Name"
            width="120"
            height="120"
          >
        </td>
      </tr>

    </ng-container>
  </tbody>
</table>